<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="walk" class="main.Walk"></bean>
	<bean name="fly" class="main.Fly"></bean>
	<bean name="rabit" class="main.Rabit"></bean>


	<bean name="misslie" class="main.Missile"></bean>
	<bean name="punch" class="main.Punch"></bean>
	<bean name="gun" class="main.Gun"></bean>


	<bean name="taekwonV" class="main.TaekwonV">
		<constructor-arg value="taekwonV" />
		<property name="movingStrategy" ref="walk" />
		<property name="attackStrategy" ref="misslie" />
	</bean>
	<bean name="atom" class="main.Atom">
		<constructor-arg value="atom" />
		<property name="movingStrategy" ref="fly" />
		<property name="attackStrategy" ref="punch" />
	</bean>
	<bean name="sungard" class="main.Sungard">
		<constructor-arg value="sungard" />
		<property name="movingStrategy" ref="rabit" />
		<property name="attackStrategy" ref="gun" />
	</bean>

</beans>
